<my-magic-header [title]="id"></my-magic-header>

<div id="infoCardDiv" *ngIf="card">
    <h1 fxLayoutAlign="center center"><b> {{card.name}}</b> </h1>
    <p><b>Card rule :</b> {{card.text}}</p>
    <p><b>Card type :</b> {{card.type}}</p>
    <p><b>Illustration artist :</b> {{card.artist}}</p>
    <div *ngIf="card.flavor !== undefined">
    <div id="divLogo" fxLayoutAlign="center center"><i class="material-icons">
        flare
        </i></div>

    <p fxLayoutAlign="center center" ><em>{{card.flavor}}</em></p>
    </div>
</div>

<div id="imgCardDiv" fxLayoutAlign="center center">
    <img *ngIf="card && card.imageUrl"
    id="imgCard" 
    [src]="card.imageUrl"
    fxFlex.xs="50"
    fxFlex.sm="33"
    fxFlex.md="33"
    fxFlex.lg="30"
    fxFlex.xl="25" 
    />
</div>